<h1 class="well">New Classroom</h1>

<div class="container">
  <%= link_to classrooms_path do %>
    <h4><i class="glyphicon glyphicon-chevron-left">Back</i></h4>
  <% end %>
</div>

<%= render 'form' %>
