<h1 class="well">Point-pad</h1>

<h2><%= link_to "sign up", "" %></h2>
<h2><%= link_to "log in", "" %></h>

<h2><%= link_to "classrooms", classrooms_path %></h2>
<h2><%= link_to "teachers", "" %></h2>
